@import "tailwindcss";

@theme {
  --color-cod-gray-50: oklch(0.958 0 0);
  --color-cod-gray-100: oklch(0.833 0 0);
  --color-cod-gray-200: oklch(0.663 0 0);
  --color-cod-gray-300: oklch(0.496 0 0);
  --color-cod-gray-400: oklch(0.329 0 0);
  --color-cod-gray-500: oklch(0.14 0 0);
  --color-cod-gray-600: oklch(0.129 0 0);
  --color-cod-gray-700: oklch(0.115 0 0);
  --color-cod-gray-800: oklch(0.107 0 0);
  --color-cod-gray-900: oklch(0.085 0 0);

  --color-shark-50: oklch(0.964 0 0);
  --color-shark-100: oklch(0.854 0.003 264.672);
  --color-shark-200: oklch(0.709 0.006 264.572);
  --color-shark-300: oklch(0.562 0.008 268.536);
  --color-shark-400: oklch(0.416 0.012 267.242);
  --color-shark-500: oklch(0.272 0.014 261.688);
  --color-shark-600: oklch(0.246 0.013 258.373);
  --color-shark-700: oklch(0.217 0.015 261.619);
  --color-shark-800: oklch(0.19 0.016 261.563);
  --color-shark-900: oklch(0.153 0.022 256.33);

  --color-curious-blue-50: oklch(97.7% 0.013 238.8);
  --color-curious-blue-100: oklch(95.822% 0.02602 233.49);
  --color-curious-blue-200: oklch(91.513% 0.05818 227.19);
  --color-curious-blue-300: oklch(84.745% 0.10878 225.95);
  --color-curious-blue-400: oklch(77.166% 0.15762 229.89);
  --color-curious-blue-500: oklch(72.295% 0.17645 238.36);
  --color-curious-blue-600: oklch(63.602% 0.1715 244.15);
  --color-curious-blue-700: oklch(53.601% 0.14413 244.93);
  --color-curious-blue-800: oklch(46.701% 0.11675 242.97);
  --color-curious-blue-900: oklch(40.301% 0.09338 243.06);
  --color-curious-blue-950: oklch(29.3% 0.066 245.34);

  --color-black-pearl-50: oklch(0.958 0.001 287.291);
  --color-black-pearl-100: oklch(0.835 0.006 255.492);
  --color-black-pearl-200: oklch(0.669 0.013 264.504);
  --color-black-pearl-300: oklch(0.505 0.02 259.42);
  --color-black-pearl-400: oklch(0.338 0.026 257.524);
  --color-black-pearl-500: oklch(0.164 0.042 246.433);
  --color-black-pearl-600: oklch(0.155 0.042 248.1);
  --color-black-pearl-700: oklch(0.145 0.045 253.029);
  --color-black-pearl-800: oklch(0.133 0.047 256.74);
  --color-black-pearl-900: oklch(0.119 0.052 261.197);

  --color-bunker-50: oklch(0.96 0.001 195.462);
  --color-bunker-100: oklch(0.839 0.003 264.669);
  --color-bunker-200: oklch(0.678 0.007 255.499);
  --color-bunker-300: oklch(0.516 0.011 258.362);
  --color-bunker-400: oklch(0.355 0.015 259.812);
  --color-bunker-500: oklch(0.193 0.019 252.157);
  --color-bunker-600: oklch(0.178 0.021 249.05);
  --color-bunker-700: oklch(0.163 0.025 244.814);
  --color-bunker-800: oklch(0.14 0.031 245.522);
  --color-bunker-900: oklch(0.12 0.034 250.134);

  --color-woodsmoke-50: oklch(0.961 0 0);
  --color-woodsmoke-100: oklch(0.839 0 0);
  --color-woodsmoke-200: oklch(0.68 0 0);
  --color-woodsmoke-300: oklch(0.517 0 0);
  --color-woodsmoke-400: oklch(0.356 0 0);
  --color-woodsmoke-500: oklch(0.196 0 0);
  --color-woodsmoke-600: oklch(0.182 0 0);
  --color-woodsmoke-700: oklch(0.164 0 0);
  --color-woodsmoke-800: oklch(0.145 0 0);
  --color-woodsmoke-900: oklch(0.115 0 0);

  --color-mercury-50: oklch(0.997 0 0);
  --color-mercury-100: oklch(0.985 0 0);
  --color-mercury-200: oklch(0.97 0 0);
  --color-mercury-300: oklch(0.952 0 0);
  --color-mercury-400: oklch(0.937 0 0);
  --color-mercury-500: oklch(0.922 0 0);
  --color-mercury-600: oklch(0.764 0 0);
  --color-mercury-700: oklch(0.61 0 0);
  --color-mercury-800: oklch(0.453 0 0);
  --color-mercury-900: oklch(0.293 0 0);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.baloo-normal {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.baloo-medium {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.baloo-semibold {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; /* Removes default padding */
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%; /* Rounds the inner color swatch */
  border: none; /* Removes any default border */
}

/* For Firefox compatibility */
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}
