@import "tailwindcss";

@theme {
  --color-curious-blue-50: oklch(97.7% 0.013 238.8);
  --color-curious-blue-100: oklch(95.822% 0.02602 233.49);
  --color-curious-blue-200: oklch(91.513% 0.05818 227.19);
  --color-curious-blue-300: oklch(84.745% 0.10878 225.95);
  --color-curious-blue-400: oklch(77.166% 0.15762 229.89);
  --color-curious-blue-500: oklch(72.295% 0.17645 238.36);
  --color-curious-blue-600: oklch(63.602% 0.1715 244.15);
  --color-curious-blue-700: oklch(53.601% 0.14413 244.93);
  --color-curious-blue-800: oklch(46.701% 0.11675 242.97);
  --color-curious-blue-900: oklch(40.301% 0.09338 243.06);
  --color-curious-blue-950: oklch(29.3% 0.066 245.34);

  --color-black-pearl-50: oklch(0.958 0.001 287.291);
  --color-black-pearl-100: oklch(0.835 0.006 255.492);
  --color-black-pearl-200: oklch(0.669 0.013 264.504);
  --color-black-pearl-300: oklch(0.505 0.020 259.420);
  --color-black-pearl-400: oklch(0.338 0.026 257.524);
  --color-black-pearl-500: oklch(0.164 0.042 246.433);
  --color-black-pearl-600: oklch(0.155 0.042 248.100);
  --color-black-pearl-700: oklch(0.145 0.045 253.029);
  --color-black-pearl-800: oklch(0.133 0.047 256.740);
  --color-black-pearl-900: oklch(0.119 0.052 261.197);

  --color-bunker-50: oklch(0.96 0.001 195.462);
  --color-bunker-100: oklch(0.839 0.003 264.669);
  --color-bunker-200: oklch(0.678 0.007 255.499);
  --color-bunker-300: oklch(0.516 0.011 258.362);
  --color-bunker-400: oklch(0.355 0.015 259.812);
  --color-bunker-500: oklch(0.193 0.019 252.157);
  --color-bunker-600: oklch(0.178 0.021 249.05);
  --color-bunker-700: oklch(0.163 0.025 244.814);
  --color-bunker-800: oklch(0.14 0.031 245.522);
  --color-bunker-900: oklch(0.12 0.034 250.134);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.baloo-2 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
